body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.cell {
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5%;
}